<div class="kids-detail-header">
    <h2 data-kidId="{{id}}" id="kid-info">{{name}}</h2>
    <div class="mygoal">
        <p><strong>Goal:</strong> <strong class="goalstar">{{star_goal_num}}</strong> <span>⭐</span></p>
        <p><strong>Award:</strong> {{goal_award}}</p>
    </div>
</div>

        <div class="detail-container">
            <div class="left">
                <span class="profileimg"><img src="{{picture}}" /></span>
                <ul class="task">
                    {{#each taskSet}}
                    <li>{{task}}  <img src="/images/stars/star_{{color}}.png" class="star-sticker" /><strong>{{starnum}}</strong> <button class="iDidItBtn button-8" data-taskId="{{id}}">I did it!</button></li>
                    {{else}}
                    <li class="notask">There is no task in this group. please go to Group Profile and create some tasks</li>
                    {{/each}}

                </ul>

            </div>
            <div class="right">
                
                <div class="myscore">
                <p>Total Stars: <strong class="totalstar">{{stars.length}}</strong></p>
                <p><strong class="starleft">{{starsUntilGoal}}</strong> stars until my goal</p>
                </div>

                <div class="inditable">
                    <table>
                        <tr><th>dates</th><th>stars</th></tr>
{{#each starDateSet}}
<tr>
<td class="a">{{date}}</td>
<td>
    {{#each taskColors as | color |}}
    <img src="/images/stars/star_{{color}}.png" class="star-sticker" />
    {{/each}}
</td>
</tr>
{{else}}
<tr><td></td><td>No stars yet! keep it up!</td></tr>
{{/each}}




                    </table>
                </div>
            </div>
        </div>

        <script src="/js/kidDetail.js"></script>